.playerField {
    padding: 10px;
}

.boardButtons {
    margin: 5px;
}

.color-purple {
    background-color: #ff32ff;
}

.color-blue {
    background-color: #32ffff;
}

.color-green {
    background-color: #1eff46;
}

.color-yellow {
    background-color: yellow;
}

.color-red {
    background-color: red;
}

.card {
    height: 90px;
}